# shellcheck source=/dev/null
# shellcheck shell=bash

# If not running interactively, don't do anything
# ref. https://www.gnu.org/software/bash/manual/html_node/Is-this-Shell-Interactive_003f.html
if [ -z "$PS1" ]; then
   return
fi

source ~/.bash_alias
setalias
source ~/.bash_function
source ~/.bash_only_function

PROMPT_COMMAND='add_line'

shopt -s histappend             # append new history items to .bash_history
export HISTCONTROL=ignorespace  # leading space hides commands from history
export HISTFILESIZE=10000       # increase history file size (default is 500)
export HISTSIZE=${HISTFILESIZE} # increase history size (default is 500)
# ensure synchronization between bash memory and history file
export PROMPT_COMMAND="history -a; history -n; ${PROMPT_COMMAND}"

[ -f ~/.fzf.bash ] && source ~/.fzf.bash

