
zmodload zsh/terminfo

LESS_TERMCAP_mb=$(echoti bold)                  # begin blinking
LESS_TERMCAP_md=$(echoti bold; echoti setaf 4)  # begin bold (blue)
LESS_TERMCAP_me=$(echoti sgr0)                  # end mode
LESS_TERMCAP_se=$(echoti sgr0)                  # end standout-mode
LESS_TERMCAP_so=$(echoti bold; echoti setaf 3)  # begin standout-mode (yellow)
LESS_TERMCAP_ue=$(echoti rmul; echoti sgr0)     # end underline
LESS_TERMCAP_us=$(echoti smul; echoti setaf 2)  # begin underline (green)
export \
  LESS_TERMCAP_mb LESS_TERMCAP_md LESS_TERMCAP_me \
  LESS_TERMCAP_se LESS_TERMCAP_so LESS_TERMCAP_ue LESS_TERMCAP_us

{{ if .chezmoi.hostname | lower | contains "barton4" }}
export MANROFFOPT=-c
{{ end }}

